<head>
    <title>
        <%= locals.title %>
    </title>

    <script src="https://kit.fontawesome.com/ff79bff575.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- <h1>Hello, welcome to the EJS file, !</h1> -->
    <h1 id="Contract">
        <i class="fa-solid fa-link"></i>

        Contract List
    </h1>

    <div >
        <ol>
            <% for(let i of contact_list){ %>
                <li class="">
                    <p>
                        <%= i.name %>
                    </p>
                    <p>
                        <%= i.phone %>
                    </p>
                    <div class="delate">
                        <a href="/delete-contact/?phone=<%=i.phone  %>">

                            <i class="fa-solid fa-trash-can fa-flip"></i>
                        </a>


                    </div>


                </li>
                <% } %>
        </ol>
    </div>


    <form action="/add-new-contract" method="post">
        <input type="text" name="name" placeholder="name" required>
        <input type="number" name="phone " placeholder="phone " required>
        <button>add

        </button>
    </form>


    <script src="js/script.js"></script>
</body>

</html>